@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
     --cor-principal: #5fd3d7;
     --cor1:  #007e83;
     --cor2:  #00575c;
     --cor3:  #003237;
     --preto: #000000;
     --branco: #ffffff;
}

body {
font-size: 1rem;
font-family: 'Poppins';
}

ction {
     padding-bottom: 5rem;
 }
 
 .display-4 {
     text-shadow: -5px 5px var(--laranja-claro);
 }
 
 #tropicalia {
     position: relative;
     padding-top: 5rem;
     margin-top: 3rem;
     background: var(--cor2);
     background-size: 180px 180px; /* Ajuste o tamanho conforme necessário*/
 }
 
 #tropicalia .container {
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     z-index: 1; /* Garante que o conteúdo fica acima das imagens de backgronde se houverem */
 }
 
 
 
 
 
 
 
 
 
 
 
 #contato {
     background: var(--cor-principal);
     background-size: cover;
     padding: 4rem 0;
 }
 
 .formulario{
     background-color: var(--branco);
     padding: 2rem;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
     font-weight: bold;
 }
 
 .formulario button {
     background-color: var(--cor3);
     border: none;
     font-weight: bold;
 }
 
 .form-control {
     background-color: var(--cor2);
 }